{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <section id="home-page">
        <h1>Product Details</h1>
        <section id="product-details">
            <section class="info-product">
                <div class="product-header">
                    {% if product.product_picture %}
                        <img class="product-img" src="{{ product.product_picture.url }}" alt='product image'/>
                    {% else %}
                        <img class="product-img" src="{% static 'images/no_posts.png' %}" alt='product image'/>
                    {% endif %}
                <br>
                    <p> Product: <span class="description">{{ product.product_name }}</span></p>
                    <p>Category: <span class="description">{{ product.category }}</span></p>
                    <p>Price:<span class="description"> {{ product.price|floatformat:2 }} lv</span></p>
                </div>
            {% if product.description %}
                <div class="product-header"><p>Description:<br><span class="description"> {{ product.description }}</span></p></div>
                {% endif %}
                {% if is_owner %}
                    <div class="detail-product-edit">
{#                    <div class="buttons">#}
                        <a href="{% url 'edit product' pk=product.pk %}" class="edit-button">Edit</a>
                        <a href="{% url 'delete product' pk=product.pk %}" class="delete-button">Delete</a>
                    </div>
                {% endif %}
                <br>
            <!--TODO: When comment is available  -->
                <div class="comments">
                    <div class="add-comments">
                        <form class="comment-form" >

                            <div class="text-comments">
                            <!-- For every comment -->

                                        <p class="user-name">Comment user</p>
                                        <label class="comment">Comment text</label>
                                        <p>Date of publication</p>
                            </div>
                            <button type="submit" class="post-button">Post</button>

                        </form>
                    </div>
                </div>
            </section>
            <!--TODO: When rating is available  -->
            <section class="additional-info">
                <section class="rating-section">
                    <div class="info-section">
                        <label class="center">Rating: </label>
                        <form class="rating-form" >

                            <button type="submit" class="post-button">Post</button>

                        </form>
                    </div>
                </section>
                <!--TODO: When request is available  -->
                <section class="request-section">
                    <div class="info-section">
                        <label class="center">Send Request:</label>
                        <form class="request-form">
                            <button type="submit" class="post-button">Post</button>
                        </form>
                    </div>
                </section>
            </section>
        </section>
        <section id="photo-details">
            <section class="photo-section">
                {% for photo in product.photos_set.all %}
                    {% if photo.photo_picture %}
                        <img class="image-product" src="{{ photo.photo_picture.url }}" alt="product_photos">
                    {% endif %}
                {% endfor %}
            </section>
        </section>
    </section>

{% endblock %}

