
{% extends 'base/base.html' %}
{% block content %}

    <!--TODO: When product is available  -->
    <section id="delete-page" class="auth">
        <form id="delete" >
            <div class="container">

                <h1>Delete Product</h1>

                <input class="btn submit" type="submit" value="Delete Product">
                <br>
                <br>
                <label><a href="javascript:history.back()">Go Back</a></label>

            </div>
        </form>
    </section>


{% endblock %}

