{% extends 'base/base.html' %}
{% block content %}
    <section id="edit-page-all">
        <section id="edit-page" class="auth">
            <!--TODO: When product is available  -->
            <form id="edit" >
                <section class="container">
                    <h1>Edit Product</h1>
                    <input class="btn submit" type="submit" value="Edit Product">
                    <br><br>
                    <label><a href="javascript:history.back()">Go Back</a></label>

                </section>
            </form>
        </section>
        <!--TODO: When photo is available  -->
        <section id="add-photos">
            <form class="photo" >
                <section class="container">
                    <h1> Add Photo</h1>

                    <input class="btn submit" type="submit" value="Add Photo">
                    <br><br>
                    <label><a href="javascript:history.back()">Go Back</a></label>

                </section>
            </form>
        </section>
    </section>

{% endblock %}
