{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <section id="home-page">
        <h1>Product Details</h1>
        <section id="product-details">
            <section class="info-product">
                <div class="product-header">
                    {% if product.product_picture %}
                        <img class="product-img" src="{{ product.product_picture.url }}" alt='product image'/>
                    {% else %}
                        <img class="product-img" src="{% static 'images/no_posts.png' %}" alt='product image'/>
                    {% endif %}
                    <br>
                    <p> Product: <span class="description">{{ product.product_name }}</span></p>
                    <p>Category: <span class="description">{{ product.category }}</span></p>
                    <p>Price:<span class="description"> {{ product.price|floatformat:2 }} lv</span></p>
                </div>
                {% if product.description %}
                    <div class="product-header"><p>Description:<br><span
                            class="description"> {{ product.description }}</span></p></div>
                {% endif %}
                {% if is_owner %}
                    <div class="detail-product-edit">
                        <a href="{% url 'edit product' pk=product.pk %}" class="edit-button">Edit</a>
                        <a href="{% url 'delete product' pk=product.pk %}" class="delete-button">Delete</a>
                    </div>
                {% endif %}
                <br>
                <div class="comments">
                    <div class="add-comments">
                        <form class="comment-form" method="post"
                              action="{% url 'product comment' product_id=product.pk %}">
                            {{ comment_form }}
                            <div class="text-comments">
                                {% for comment in product.productcomment_set.all %}
                                    {% if comment %}
                                        {% if comment.user %}
                                            <p class="user-name">{{ comment.user }}</p>
                                        {% else %}
                                            <p class="user-name">Anonymous</p>
                                        {% endif %}
                                        <label class="comment">{{ comment.text }}</label>
                                        <p>{{ comment.date_and_time_of_publication }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <button type="submit" class="post-button">Post</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </section>
            <section class="additional-info">
                <section class="rating-section">
                    <div class="info-section">
                        <label class="center">Rating: {{ avg_rating }}</label>
                        <form class="rating-form" method="post"
                              action="{% url 'product rating' product_id=product.pk %}">
                            {{ rating_form }}
                            <button type="submit" class="post-button">Post</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </section>
                <section class="request-section">
                    <div class="info-section">
                        <label class="center">Send Request:</label>
                        <form class="request-form" method="post"
                              action="{% url 'product request' product_id=product.pk %}">
                            {{ request_form }}
                            <button type="submit" class="post-button">Post</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </section>
            </section>
        </section>
        <section id="photo-details">
            <section class="photo-section">
                {% for photo in product.photos_set.all %}
                    {% if photo.photo_picture %}
                        <img class="image-product" src="{{ photo.photo_picture.url }}" alt="product_photos">
                    {% endif %}
                {% endfor %}
            </section>
        </section>
    </section>

{% endblock %}

