{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <section id="home-page">
        <h1>Profile Details</h1>
        <section id="profile-details">
            <section class="info-request-section">
                <div class="info-section">
                    <h4>Received requests:</h4>
                {% for product in products %}
                        {% for query in product.productrequest_set.all %}
                            <div class="query">
                                {% if query %}
                                    <section class="request-client">
                                        <p> Product: {{ query.product.product_name }}
                                            <a class="edit-btn"
                                               href="{% url 'details product' pk=query.product.pk %}"> Product
                                                details</a>
                                        </p>
                                        <ul>
                                            <li>From email: {{ query.request_email }}</li>
                                            <li>Request: {{ query.text }}</li>
                                        </ul>
                                    </section>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </section>
            <section>
                <section class="info-profile">
                    <div class="profile-header">
                        {% if object.profile_picture %}
                            <img class="profile-img" src="{{ object.profile_picture.url }}" alt='profile-image'/>
                        {% else %}
                            <img class="profile-img" src="{% static 'images/person.png' %}" alt='profile-image'/>
                        {% endif %}
                        <p class="description">Username: {{ object.username }}</p>
                        <p class="description">Email: {{ object.email }}</p>
                        {% if object.first_name and object.last_name %}
                            <p class="description">Name: {{ object.get_full_name }}</p>
                        {% endif %}
                        {% if is_owner %}
                            <br><br>
                            <div class="buttons">
                                <a href="{% url 'edit user' pk=object.pk %}" class="edit-button">Edit</a>
                                <a href="{% url 'delete user' pk=object.pk %}" class="delete-button">Delete</a>
                            </div>
                        {% endif %}
                        <label><a class="edit-btn" href="javascript:history.back()">Go Back</a></label>
                    </div>
                </section>
            <section class="info-request-section">
            <div class="info-section">
                    <h4>Send requests:</h4>
               {% for query in send_queries %}
                        {% if query %}
                            <div class="query">
                                {% if query %}
                                    <section class="request-client">
                                        <p> Product: {{ query.product.product_name }}
                                            <a class="edit-btn"
                                               href="{% url 'details product' pk=query.product.pk %}"> Product details</a>
                                        </p>
                                        <ul>
                                            <li>Your email: {{ query.request_email }}</li>
                                            <li>Request: {{ query.text }}</li>
                                        </ul>
                                    </section>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
            </section>
            </section>
        </section>


    </section>

{% endblock %}



